DB_URI=mongodb+srv://cabasadaniel1:8RYUPB4ttgaKzgVd@cluster0.6nb8h.mongodb.net/bmw-5?retryWrites=true&w=majority&appName=Cluster0
PORT=4000
FLASK_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_EMAIL=youremail
SMTP_PASSWORD=yourpassword
SMTP_FROM_NAME="FoodScan"
SMTP_FROM_EMAIL=youremail
 
JWT_SECRET=yourjwtsecret
JWT_EXPIRES_TIME=7d

CLOUDINARY_CLOUD_NAME=yourcloudinarycloudname
CLOUDINARY_API_KEY=yourcloudinaryapikey
CLOUDINARY_API_SECRET=yourcloudinaryapisecret

